@tailwind base;
@tailwind components;
@tailwind utilities;

.btn:not(.btn-ghost) {
    @apply uppercase;
}

.btn-group .btn:not(.btn-ghost) {
    @apply text-xs md:text-sm h-10 min-h-10 md:h-12 md:min-h-12;
}

.tooltip.tooltip-compatibility-mode::before {
    position: absolute;
    left: -120px;
}

@layer utilities {
    .tooltip.tooltip-compatibility-mode-md::before {
        position: absolute;
        left: -100px;
    }
}
